site_name: FuncScript Manual
site_description: Official manual for the FuncScript language
site_url: ''
repo_url: https://github.com/teweldemat/funcscript
repo_name: teweldemat/funcscript
nav:
  - Language Overview: index.md
  - Examples: examples.md
  - Reference:
      - Built-in Symbols: reference/built-in-symbols.md
      - Types: reference/types.md
  - Syntax: syntax.md
  - Developers:
      - FuncScript Test Framework: developers/test-framework.md
theme:
  name: material
  features:
    - navigation.top
    - navigation.sections
    - navigation.instant
    - content.code.annotate
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: blue
markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - def_list
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
plugins:
  - search
